.online {
  color: green;
}

.offline {
  color: red;
}

.friendsUl {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.friendsLi {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.friendItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
